@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Varela+Round&display=swap");

body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Varela Round", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: rgb(227, 225, 219);
}
nav ul li {
  padding: 0 12px;
}
.Brand img {
  width: 68px;
  padding: 0 8px;
}
.Brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.34rem;
}

.container{
   
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 34px;
    margin-top: 80px;
    background-image: url('aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg');
}

.bottom {
     
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
    margin-left: 220px;
    margin-top: 480px;
}
.icons{
  margin-top: 14px;
  height: 50%;
  width: 50%;
}
.icons{
  cursor: pointer;
}
.songList h1{
  margin-left: 20px;
  margin-top: 10px;
}

 

